[run]
source = .
omit =
    */migrations/*
    manage.py
    */__init__.py
    */admin.py
    */apps.py
    */tests/*
    */wsgi.py
    */asgi.py
    */settings.py
    */urls.py

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    def __str__
    def get_absolute_url
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: